parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: false

    photos_directory: "%kernel.root_dir%/../photos/"
    thumbs_directory: "%kernel.root_dir%/../.thumbs/"
    allowed_mime_types: 
        - "image/jpeg"
        - "image/png"
